:root{

    /*Obsidian*/
    
    /*
        --main-color: #201c1c;
        --scoendary-clolor:#a584fa;
        --2ndary-color: #262626;
    
        --bold-color: #f44f51;
        --text-color : white;
        --H-red : #f44f51;
        --H-orange : #e5994b;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #65dddc;;
        --H-purble : #a584fa;
        --purple-text-color: black;
        --H-green: #58cd74;
        
        --Tree-Node1: #3c3c3c;
        --Tree-Node2: #3c3c3c;
        --Tree-Node3: #3c3c3c;
        --Tree-Node4: #3c3c3c;
        --Tree-Node5: #3c3c3c;
        --Tree-Node6: #3c3c3c;
        
        
        --cloze-color: #312849;
        --border-bottom: #a584fa;
        --cloze-text: white;
        */
    /*Disco Purple*/
    
    /*
        --main-color: #1d021b;
        --scoendary-clolor:#430246;
        --2ndary-color: #30042c;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
    
    */
    /*Red-Vampire*/
    
    /*
    --main-color: ;
        --scoendary-clolor:#90012e;
        --2ndary-color: #560c1f;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
        */
       /*side,logseq*/
    
    /*
    --main-color: #2e2e33;
        --scoendary-clolor:#104c54;
        --2ndary-color: #3a363e
    ;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
    */
    /*Logseq*/
    
     /*
        --main-color: #103444;
        --scoendary-clolor: #104c54;
    
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #ff5555;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;
        --2ndary-color: #103444;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
        
    */
    
    /*Red Carpet*/
    
    /**/
        --main-color: #2e2e33;
        --scoendary-clolor:#90012e;
        --bold-color: #ff79c6;
        --text-color : white;
        --H-red : #f85c5a;
        --H-orange : #ffb86c;
        --H-yellow : #e0de7b;
        --yellow-text-color: black;
        --H-blue : #8be9fd;;
        --H-purble : #ff79c6;
        --purple-text-color: black;
        --H-green:#50fa7b;   
        --2ndary-color: #2e2e33;
        
        --Tree-Node1: #901434;
        --Tree-Node2: #ffb86c;
        --Tree-Node3: #f1fa8c;
        --Tree-Node4: #50fa7b;
        --Tree-Node5: #8be9fd;
        --Tree-Node6: #ff79c6;
        
        --cloze-color: #2e2e33;
        --border-bottom: #2e2e33;
        --cloze-text: #92e4f7;
        
    
        }
        
        /*
        Main
        */
        
        .rn-pane__body{
        background-color: var(--main-color);
        }
        .rn-clr-background{
            background-color: var(--main-color);
        }
        .rn-clr-background-accent{
    
            background-color: var(--scoendary-clolor);
        }
        .rn-pane__top-bar{
            background-color: var(--main-color);
        }
        .rn-clr-background-elevation-10{
    
            background-color: var(--main-color);
        }
        .rn-editor__rem__body__text{
        color: white!important;
        }
        .rn-clr-background-primary{
        
            background-color: var(--main-color); 
        }
        #document-sidebar {
      background-color: var(--2ndary-color); 
    }
        .rn-clr-background-secondary{
            background-color: var(--scoendary-clolor); 
        }
        .rn-clr-content-secondary{
        color: white!important;
        } 
        .rn-clr-content-tertiary {
        color: white!important;
        }
        .rn-clr-content-on-color{
    
           color: white!important;
        }
        .rn-all-notes{
        color: white!important;
           /*
        Rem hilgiht contrainers * normal
        */
        }
        .rn-editor__rem__body--red{
            background-color: var(--h-red)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
       }
        .rn-editor__rem__body--orange{
            background-color: var(--H-orange)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--yellow{
            background-color: var(--H-yellow)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--blue{
            background-color: var(--H-blue)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
           
        }
        .rn-editor__rem__body--purple{
            background-color: var(--H-purble)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--purple-text-color) !important;
    ;    }
        .rn-editor__rem__body--green{
            background-color: var(--H-green)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
    ;    }
        .highlight-color--red{
            background-color: var(--H-red)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
        }
        .highlight-color--orange{
            background-color: var(--H-orange)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
        }
        .highlight-color--yellow{
            background-color: var(--H-yellow)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--yellow-text-color)!important;
        }
        .highlight-color--green{
            background-color: var(--H-green)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
        }
        .highlight-color--blue{
            background-color: var(--H-blue)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color:black !important;
        }
        .highlight-color--purple{
            background-color: var(--H-purble)!important;
            border-radius: 35px;
            border-left-style: solid;
            border-right-style: solid;
            border-color: rgba(0, 0, 0,0.0);
            border-width: 6px;
            color: var(--purple-text-color) !important;
        }
        .rn-rem-reference{
            color: var(--H-orange);
            text-decoration: underline 2px;
        }
        .bold {
            font-weight: 700;
            color:var(--bold-color) ;
                 /*
        Headers & docment title 
        */
           }
           .rn-editor__rem__body__text--h1{
    ;        
    
           }
           .rn-editor__rem__body__text--h2{
    ;
           }
           .rn-editor__rem__body__text--h3{
    ;
           }
           .rn-doc-title{
    ;
           }
           .TreeNode {
        border-color: var(--Tree-Node1)!important ;
    }
    .TreeNode .TreeNode {
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode {
        border-color: var(--Tree-Node3) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode  {
        border-color: var(--Tree-Node4) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  {
        border-color: var(--Tree-Node5) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node6) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node1) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node6) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node1) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode   {
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode {
        border-color: var(--Tree-Node3) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode{
        border-color: var(--Tree-Node4) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node5) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node6) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node1) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node2) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node3) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node4) !important ;
       
    }
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node5) !important ;
       
    }
    
    .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode  .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode .TreeNode{
        border-color: var(--Tree-Node6) !important ;
       
    }
    
    .cloze {
     background-color: var(--cloze-color)!important;
     color: #ff79c6;
     border-bottom: 1.5px solid var(--border-bottom);
     padding-bottom: 2px;
     font-weight: 600;
     font-style: italic;
     color: var(--cloze-text) ;
     border-radius : 5px;
    } 
     /*
       Image border
        */
        .dark .dark\:bg-black {
           border-radius:20px;
        }
      